body {
        background-color:antiquewhite;
        color:darkgoldenrod;
    }
    #photoOfMe {
        
        max-width: 100%;
        height: auto;
          
    }

    .header {
        display: flex;
        align-items: center;
        justify-content:center;
        padding: 1rem;
    }


    div[class="txtbox"] > p {
        background-color: #fff;
        
        border-radius: 1rem;
        padding: 1rem;
        max-width: 50%;
        transform: translateX(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border: 1px solid black;
    }




